# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS Finder tags
*.swp
*.swo

# Python virtual environments
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pylint
pylint-report.txt
pylint-global.txt

# Bandit
bandit.json

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and local files
*.log

# Packaging
build/
dist/
*.egg-info/
.eggs/

# SQLite database files
*.sqlite3

# Environment variables
.env
.env.*

# Spyder IDE
.spyderproject
.spyproject

# Rope project
.ropeproject/

# Local scripts or config
*.local
